<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Hjem</a>
            <% if (isAdmin) { %>
                <a href="/dashboard">Admin Dashboard</a>
                <%} if (isAuthenticated) { %>
                    <a href="/profile">profile</a>
            <% } else { %>
                <a href="/login">Logg inn</a>
                <a href="/register">register</a>
            <% } %>
        </nav>
    </header>
    <div>
    <form action="/apparel" method="POST">
        <div>
            <label for="apparelNavn">apparel Navn</label>
            <input type="text" name="apparelNavn" required>
        </div>
        <div>
            <label for="SubGenre">SubGenre</label>
            <input type="text" name="SubGenre" required>
        </div>
        <div>
            <h3>bilde</h3>
            <div class="file-upload">
                <input type="file" name="bilde"class="fileInput" accept="image/png, image/jpeg, image/jpg" >
            </div>>
        <button type="submit">sumbit</button>
    </form>
    
    </div>
   
</body>
</html>