<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/">
                Logo
            </a>
        </div>
        <div class="site-title">
            Kendrick klær
        </div>
        <div class="nav-right">
                <a href="/profile"><%= locals.user ? user.navn : '[innlogget brukernavn]' %></a> |
        </div>
    </header>

    <main>
        <h1>Admin Dashboard</h1>
        
        <% if (locals.success) { %>
            <div class="success-message">
                <%= success %>
            </div>
        <% } %>
        
        <div class="dashboard-menu">
            <h2>Kategorier</h2>
            <div class="admin-actions">
                <a href="/createApparel" class="admin-button">Opprett Ny Kategori</a>
            </div>
            
            <h2>Produkter</h2>
            <div class="admin-actions">
                <a href="/create-product" class="admin-button">Opprett Nytt Produkt</a>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2025 T-skjorter og gensere for rockeband</p>
    </footer>
</body>
</html>